<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GiftApplication</display-name>
  
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>be.giftapplication.filters.AuthenticationFilter</filter-class>
  </filter>
  
   <filter>
    <filter-name>InvitationFilter</filter-name>
    <filter-class>be.giftapplication.filters.InvitationFilter</filter-class>
  </filter>
  
  
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <servlet-name>MyGiftLists</servlet-name>
    <servlet-name>CreateListGift</servlet-name>
    <servlet-name>ConsultListGift</servlet-name>
    <servlet-name>CreateGift</servlet-name>
    <servlet-name>ModifyGift</servlet-name>
    <servlet-name>ConsultGift</servlet-name>
    <servlet-name>ModifyPriority</servlet-name>
    <servlet-name>ConsultInvitations</servlet-name>
    <servlet-name>MyNotifications</servlet-name>
    <servlet-name>ConsultParticipations</servlet-name>
    <servlet-name>MyGiftLists</servlet-name>
    <servlet-name>Invite</servlet-name>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>InvitationFilter</filter-name>
    <servlet-name>InvitationListGift</servlet-name>
    <servlet-name>InvitationConsultGift</servlet-name>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>be.giftapplication.servlets.Home</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<servlet-class>be.giftapplication.servlets.Register</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>MyGiftLists</servlet-name>
  	<servlet-class>be.giftapplication.servlets.MyGiftLists</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>ConsultListGift</servlet-name>
  	<servlet-class>be.giftapplication.servlets.ConsultListGift</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>CreateListGift</servlet-name>
  	<servlet-class>be.giftapplication.servlets.CreateListGift</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>MyNotifications</servlet-name>
  	<servlet-class>be.giftapplication.servlets.MyNotifications</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ConsultGift</servlet-name>
  	<servlet-class>be.giftapplication.servlets.ConsultGift</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>CreateGift</servlet-name>
  	<servlet-class>be.giftapplication.servlets.CreateGift</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>ModifyGift</servlet-name>
  	<servlet-class>be.giftapplication.servlets.ModifyGift</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ModifyPriority</servlet-name>
  	<servlet-class>be.giftapplication.servlets.ModifyPriority</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>ConsultInvitations</servlet-name>
  	<servlet-class>be.giftapplication.servlets.ConsultInvitations</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ConsultParticipations</servlet-name>
  	<servlet-class>be.giftapplication.servlets.ConsultParticipations</servlet-class>
  </servlet>
  	
   <servlet>
  	<servlet-name>ModifyListGift</servlet-name>
  	<servlet-class>be.giftapplication.servlets.ModifyListGift</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>InvitationListGift</servlet-name>
  	<servlet-class>be.giftapplication.servlets.InvitationListGift</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>InvitationConsultGift</servlet-name>
  	<servlet-class>be.giftapplication.servlets.InvitationConsultGift</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>Invite</servlet-name>
  	<servlet-class>be.giftapplication.servlets.Invite</servlet-class>
  </servlet>
  
  


  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>MyGiftLists</servlet-name>
  	<url-pattern>/mygiftlists</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ConsultListGift</servlet-name>
  	<url-pattern>/consultlistgift</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>CreateListGift</servlet-name>
  	<url-pattern>/createlistgift</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>CreateGift</servlet-name>
  	<url-pattern>/creategift</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
  	<servlet-name>MyNotifications</servlet-name>
  	<url-pattern>/mynotifications</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ConsultGift</servlet-name>
  	<url-pattern>/consultgift</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>ModifyGift</servlet-name>
  	<url-pattern>/modifygift</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ModifyPriority</servlet-name>
  	<url-pattern>/modifypriority</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ConsultInvitations</servlet-name>
  	<url-pattern>/consultinvitations</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>ConsultParticipations</servlet-name>
  	<url-pattern>/consultparticipations</url-pattern>
  </servlet-mapping>

   <servlet-mapping>
  	<servlet-name>ModifyListGift</servlet-name>
  	<url-pattern>/modifylistgift</url-pattern>
  </servlet-mapping>	
  
  <servlet-mapping>
  	<servlet-name>InvitationListGift</servlet-name>
  	<url-pattern>/invitationlistgift</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>InvitationConsultGift</servlet-name>
  	<url-pattern>/invitationconsultgift</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Invite</servlet-name>
  	<url-pattern>/invite</url-pattern>
  </servlet-mapping>
  
  	
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/ErrorPage.jsp</location>
	</error-page>
  
</web-app>